extends Layout
block content
    div.row
        div.col.s12.m6
            div.card.grey.lighten-4
                div.card-content
                    span.card-title #{dependency.identifier}
                    hr
                    span.card-title What this package adds
                    ul.collection
                        for d in latestVersion.dependencies
                            li.collection-item
                                div
                                    #{d}
                                    - link = d.split(':')
                                    - link = link[1]
                                    a.secondary-content.tooltipped(href="http://search.maven.org/#search|ga|1|#{link}",
                                    data-tooltip="Search on Maven Central", data-position="right", data-delay="30")
                                        i.material-icons search
        div.col.s12.m6
            div.card.grey.lighten-4
                div.card-content
                    span.card-title Add to your project
                    p
                        |To add this MetaPackage to your project, copy this code below into the MetaDependencies section of your gradle build file
                    div.center-align.grey.darken-3.text-darken-4.white-text.tex
                        pre
                            h5 #{dependency.identifier}{  version=#{latestVersion.version}  }
                    div.card-action
                        a(data-clipboard-text="#{dependency.identifier}{version=#{latestVersion.version}}",
                        onclick="Materialize.toast('Copied to clipboard')").cpy
                            |Copy to Clipboard
        unless latestVersion.repositories.size() == 0
            div.col.s12.m6
                div.card.grey.lighten-4
                    div.card-content
                        span.card-title Added Maven Repositories
                        p.
                            Some dependencies in this MetaPackage require maven repositories that are not maven central.
                            These repositories can be found below
                        ul.collection
                            for repo in latestVersion.repositories
                                li.collection-item
                                    |#{repo}
block scripts
    script(type="text/javascript", src="/js/clipboard.min.js")
    script
        new Clipboard('.cpy')